@import url('./base.css');

#layout-grid {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: 6rem 1fr;
}

.sidebar {
    max-width: 100%;
    background-color: var(--warm-mocha);
    position: relative;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.header-title {
    font-size: 24px;
    font-weight: 400;
}

.main-section {
    /* background-color: var(--lavender-mist); */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    padding-inline: 2rem;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.dashboard-content {
    width: 100%;
}

.metric-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 2rem;
}

.metric-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 8rem;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--sage-green);
    color: var(--text-primary);
}

.header-description {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-secondary);
}

.header-headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.metric-logo {
    color: var(--text-primary);
}

.metric-value {
    font-size: 32px;
    font-weight: 400;
}

.metric-label {
    font-size: 20px;
    font-weight: 400;
}

#logout-button {
    background-color: var(--rose-pink);
    color: var(--text-primary);
    border-radius: 6px;
    padding: .8rem 2rem;
}

.sidebar-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.navigation-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem 1rem;
    gap: 1rem;
}

.nav-logo {
    border-radius: 50px;
    height: 2rem;
    width: 2rem;
    background-color: var(--rose-pink);
}

.navigation-item>a {
    text-decoration: none;
    color: var(--cream-white);
    text-align: start;
}

@media (max-width: 640px) {
    .sidebar {
        display: none;
        grid-row: 0/0;
        grid-column: 0;
    }

    .main-section {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    .header {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .metric-content {
        flex-direction: column;
    }

    #logout-button {
        display: none;
    }
}