@import url('base.css');


.container {
    background: var(--cream-white);
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    overflow-x: auto;
}

/* Top bar (search + add button) */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.left-top-bar {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.search-box {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.search-box input {
    border: none;
    padding: 8px;
    width: 200px;
}

.search-box input:focus {
    outline: none;
}

.search-btn {
    background: #000;
    color: #fff;
    border: none;
    padding: 0 10px;
    cursor: pointer;
}

.add-btn {
    background: #000;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

/* Table styling */
.seller-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.seller-table th {
    background: #e6e6e6;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

.seller-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Status badge */
.status {
    font-size: 13px;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 600
}

/* Buttons */
.edit-btn,
.remove-btn {
    border: none;
    padding: 6px 10px;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
}

.edit-btn {
    background: #333;
    color: #fff;
}

.remove-btn {
    background: #333;
    color: var(--cream-white);
}